In [2]:
import csv
import sqlite3
import argparse
import os
import sys
import pandas as pd

In [ ]:
proj_dir = os.path.abspath(os.path.join('.'))

In [4]:
df = pd.read_csv(os.path.join(proj_dir, 'zoo2.csv'))

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("data.db")

# 3. Write the DataFrame into a table
df.to_sql(
    name="animals",      # table name inside SQLite
    con=conn,             # or con=engine
    if_exists="replace",  # 'fail' | 'replace' | 'append'
    index=False           # drop the pandas index column
)

# 4. (Optional) verify
print(pd.read_sql("SELECT * FROM animals", conn))

# 5. Always close connections
conn.close()

   animal_name  hair/fur  feathers  eggs  milk  airborne  aquatic  predator  \
0       turtle         0         0     1     0         0        1         0
1       lizard         0         0     1     0         0        0         1
2        gecko         0         0     1     0         0        0         0
3       python         0         0     1     0         0        0         1
4    alligator         0         0     1     0         0        1         1
5        skink         0         0     1     0         0        0         0
6         fish         0         0     1     0         0        1         0
7   salamander         0         0     1     0         0        1         1
8         frog         0         0     1     0         0        1         1
9     mosquito         0         0     1     0         1        0         0
10      hornet         0         0     1     0         1        0         1
11   butterfly         1         0     1     0         1        0         0
12   cockroach         0         0     1     0         0        0         0
13      mantis         0         0     1     0         1        0         1
14         dog         1         0     0     1         0        0         1
15         cat         1         0     0     1         0        0         1
16       horse         1         0     0     1         0        0         0
17         cow         1         0     0     1         0        0         0
18       sheep         1         0     0     1         0        0         0
19        goat         1         0     0     1         0        0         0
20         pig         1         0     0     1         0        0         0
21     chicken         0         1     1     0         1        0         0
22        duck         0         1     1     0         1        1         1
23      turkey         0         1     1     0         1        0         0
24    elephant         1         0     0     1         0        0         0
25       tiger         1         0     0     1         0        0         1
26       shark         0         0     1     0         0        1         1
27       mouse         1         0     0     1         0        0         0
28    kangaroo         1         0     0     1         0        0         0
29     ostrich         0         1     1     0         0        0         0
30         owl         0         1     1     0         1        0         1
31         bat         1         0     0     1         1        0         1
32        bear         1         0     0     1         0        0         1
33     dolphin         0         0     0     0         0        1         0
34       sloth         1         0     0     1         0        0         0
35        lion         1         0     0     1         0        0         1
36      monkey         1         0     0     1         0        0         0

    toothed  backbone  ...  venomous  fins  tail  domestic  legless  \
0         0         1  ...         0     0     1         0        0
1         1         1  ...         0     0     0         0        0
2         1         1  ...         0     0     1         0        1
3         1         1  ...         0     0     1         0        1
4         1         1  ...         0     0     1         0        0
5         1         1  ...         0     0     0         0        1
6         0         1  ...         0     1     1         0        0
7         1         1  ...         0     0     1         0        1
8         1         1  ...         0     0     0         0        1
9         0         0  ...         0     0     0         0        1
10        0         0  ...         1     0     0         0        1
11        0         0  ...         0     0     0         0        0
12        0         0  ...         0     0     0         0        1
13        0         0  ...         0     0     0         0        1
14        1         1  ...         0     0     1         1        0
15        1         1  ...         0     0     1         1        0
16        1         1  ...         0     0     1         1        0
17        1         1  ...         0     0     1         1        0
18        1         1  ...         0     0     1         1        0
19        1         1  ...         0     0     1         1        0
20        1         1  ...         0     0     1         1        0
21        0         1  ...         0     0     1         1        0
22        1         1  ...         0     0     1         1        0
23        0         1  ...         0     0     1         1        0
24        1         1  ...         0     0     1         0        0
25        1         1  ...         0     0     1         0        0
26        1         1  ...         0     1     1         0        1
27        1         1  ...         0     0     1         1        0
28        1         1  ...         0     0     1         0        0
29        0         1  ...         0     0     1         0        0
30        0         1  ...         0     0     1         0        0
31        1         1  ...         1     0     1         0        0
32        1         1  ...         0     0     1         0        0
33        1         1  ...         0     1     1         0        1
34        1         1  ...         0     0     1         0        0
35        1         1  ...         0     0     1         0        0
36        1         1  ...         0     0     1         0        0

    quadruped  pet  night  horned  heavier
0           1    1      0       0        1
1           1    1      0       0        0
2           1    1      1       0        0
3           0    0      1       0        1
4           1    0      1       0        1
5           1    1      0       0        0
6           0    0      1       0        0
7           1    0      1       0        0
8           1    0      1       0        0
9           0    0      1       0        0
10          0    0      1       0        0
11          0    0      0       0        0
12          0    0      1       0        0
13          0    0      0       0        0
14          1    1      0       0        1
15          1    1      1       0        0
16          1    1      1       0        1
17          1    1      0       1        1
18          1    1      0       0        1
19          1    1      0       1        1
20          1    1      0       1        1
21          0    1      0       0        0
22          1    1      1       0        0
23          0    0      0       0        1
24          1    0      0       1        1
25          1    0      1       0        1
26          0    0      1       0        1
27          1    1      1       0        0
28          0    0      1       0        1
29          0    0      0       0        1
30          0    0      1       0        0
31          0    0      1       0        0
32          1    0      0       0        1
33          0    0      0       0        1
34          0    0      1       0        1
35          1    0      1       0        1
36          1    0      0       0        1

[37 rows x 21 columns]